name: Cross Compile

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Install cross
      run: cargo install cross

    - name: Build aarch64 binary
      run: cross build --release --target aarch64-unknown-linux-gnu

    - name: Upload binary
      uses: actions/upload-artifact@v3
      with:
        name: expensetracker-aarch64
        path: target/aarch64-unknown-linux-gnu/release/expensetracker